body {
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1440px;
    margin: auto;
}
.header__color {
    background: #000;
    width: 461px;
    height: 900px;
    left: 0px;   
}
.header__line {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    margin-bottom: 80px;
    
}
.header__nav {
    background: #EDEDED;
    width: 92px;
    height: 92px;
}

.header__logo {
    color: #fff;
    margin-left: 52px;
    font-size: 30px;
    font-weight: medium;
    margin-top: 36px;
}
.header__language {
    color: #fff;
    margin-right: 629px;
    font-size: 20px;
    font-weight: medium;
    margin-top: 42px;
}

.header__wrapper {
    display: flex;
}
.header__conteiner {
    width: 491px;
    margin-top: 80px; 
}
.header__img {
    width: 549px;
    margin-left: 186px;
    margin-right: 54px;
    margin-bottom: 85px;
}
.header__title {
    font: bold 80px/82px 'montserrat', arial, helvetica, sans-serif;
    margin-bottom: 26px;
}
.header__text {
    font: 15px/21px 'montserrat', arial, helvetica, sans-serif;
    margin-bottom: 36px;
}
.header__btn {
    display: inline-block;
    text-decoration: none;
    color:#000;
    background: #fff;
    padding: 14px 41px;
    border: 2px solid #000;
    font-size: 13px;
    margin-right: 54px;
}
.header__btn:hover {
    background-color: #F29F9F;
    color: #fff;
    transition: .5s;
}
.header__link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.header__link:hover {
    color: #F29F9F;
}
.header__socials {
    margin-left: 52px;
} 
.header__socials-icon {
    margin-right: 12px;
}
.header__socials-icon:hover {
    position: relative;
	bottom: 5px;
}
#nav__toggle {
    display: none;
}
#nav__toggle {
    opacity: 0;
}

.nav__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 42px;
    right: 62px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.nav__btn > span,
.nav__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
}

.nav__btn > span {
    content: '';
    top: -6px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.nav__btn > span::after {
    content: '';
    top: 7px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.nav__box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition: left 0.5s;
}

.nav__item {
    text-align: center;
    color: #000;
    font: bold 30px/65px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
}

.nav__item:hover {
    background-color: #fff;
    /*opacity: 0.5;*/
    color: #F29F9F;
}

.nav__item::after {
    position: absolute;
    right: 0;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #F29F9F;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
}

.nav__item:hover::after,
.nav__item_active::after {
    opacity: 1;
    width: 30%;
}


#nav__toggle:checked ~ .nav__btn > span {
    top: 0;
    transform: rotate(45deg);
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

#nav__toggle:checked ~ .nav__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

#nav__toggle:checked ~ .nav__box {
    visibility: visible;
    left: 70%;
}
.header__mouse {
    display: block;
    margin: 0;
    width: 26px;
    height: 46px;
    border-radius: 15px;
    border: 2px solid #000;
    margin-top: 810px;
    margin-left: 250px;
}
.header__mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 8px;
    border-radius: 19px;
    background: #000;
    left: 719px;
    top: 826px;
}
.cover {
    display: flex;
}
.header__mouse:hover {
    background: #F29F9F;
}

/**/
.header__arrow {
    display: block;
    margin-left: 472px;
    margin-top: -30px;
}
    

}


/*main*/
.main__product {
    background: #FAE8E4;
}